html, body {
    height: 100%;
}

aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}

.create-comment .action-buttons {
    display: none;
}

.create-comment.focused .action-buttons {
    display: block;
}

.comment-avatar {
    width: 3rem;
}

.sub-comments .comment-avatar {
    width: 2rem;
}

.comment-actions {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.comment-item:hover .comment-actions {
    display: block;
}

.comment-item .media-input {
    display: none;
}

.comment-item.edit .media-comment {
    display: none !important;
}

.comment-item.edit .media-input {
    display: flex;
}
